In [45]:
%matplotlib inline
import pandas as pd

In [46]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [47]:
date = pd.read_csv('release_dates.csv')
date.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [48]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [49]:
print("No of Movies listed in dataframe are: ",titles.title.count())

No of Movies listed in dataframe are:  244914

### What are the earliest two films listed in the titles dataframe?

In [50]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [51]:
print("No of Movies having title Hamlet are: ",titles[titles["title"]== "Hamlet"]["title"].count())

No of Movies having title Hamlet are:  20

### How many movies are titled "North by Northwest"?

In [52]:
print("No of Movies having title Hamlet are: ",titles[titles["title"]== "North by Northwest"]["title"].count())

No of Movies having title Hamlet are:  1

### When was the first movie titled "Hamlet" made?

In [53]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [54]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [55]:
titles[titles.year == 1950].year.count()

1113

### How many movies were made in the year 1960?

In [56]:
titles[titles.year == 1960].year.count()

1549

### How many movies were made from 1950 through 1959?

In [57]:
titles[(titles.year > 1950) & (titles.year <= 1969)].title.count()

29797

### In what years has a movie titled "Batman" been released?

In [58]:
titles[titles['title']=='Batman'].year.to_list()

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [59]:
print("No of roles in Inception Movie : ",cast[cast["title"]== "Inception"]["n"].shape)

No of roles in Inception Movie :  (78,)

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [60]:
cast[cast.title == 'Inception'].n.isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [61]:
cast[cast.title == 'Inception'].n.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [62]:
cast[cast.title == 'North by Northwest'].dropna(axis=0).sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [63]:
df_sl = cast[cast["title"]== "Sleuth"].sort_values('n',ascending=True,ignore_index=True)
print ("List of entire cast for 1972 film Sleuth is:\n",df_sl[df_sl["year"]==1972].name)

List of entire cast for 1972 film Sleuth is:
 1      Laurence Olivier
2         Michael Caine
4        Alec Cawthorne
6    John (II) Matthews
7    Eve (III) Channing
8          Teddy Martin
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [64]:
print ("List of entire cast for 1972 film Sleuth is: \n",df_sl[df_sl["year"]==2007].name)

List of entire cast for 1972 film Sleuth is:
 0           Michael Caine
3                Jude Law
5           Harold Pinter
9         Kenneth Branagh
10    Alec (II) Cawthorne
11      Eve (II) Channing
12      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [65]:
df_ham = cast[cast["title"]== "Hamlet"].sort_values('n',ascending=True,ignore_index=True)
print ("No of roles credited in 1921 version of Hamlet : ",df_ham[df_ham["year"]==1921].name.count())

No of roles credited in 1921 version of Hamlet :  9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [66]:
print ("No of roles credited in 1996 version of Hamlet : ",df_ham[df_ham["year"]==1996].name.count())

No of roles credited in 1996 version of Hamlet :  54

### How many "Hamlet" roles have been listed in all film credits through history?

In [67]:
print ("No of Roles in all Hamlet movies are : ",len(df_ham.name.unique()))

No of Roles in all Hamlet movies are :  312

### How many people have played an "Ophelia"?

In [68]:
cast[cast.character == 'Ophelia'].character.count()

117

### How many people have played a role called "The Dude"?

In [69]:
cast[cast.character == 'The Dude'].character.count()

19

### How many people have played a role called "The Stranger"?

In [70]:
cast[cast.character == 'The Stranger'].character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [71]:
cast[cast.name == 'Sidney Poitier'].name.count()

43

### How many roles has Judi Dench played?

In [72]:
cast[cast.name == 'Judi Dench'].name.count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [73]:
cast[(cast.name == 'Cary Grant')&(cast.n == 2)&(cast.year >= 1940)&(cast.year <= 1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [74]:
cast[(cast.name == 'Cary Grant')&(cast.n == 1)&(cast.year >= 1940)&(cast.year <= 1949)].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [75]:
len(cast[(cast.year >= 1950)&(cast.year < 1960) & (cast.type == 'actor')].type)

157738

### How many roles were available for actresses in the 1950s?

In [76]:
len(cast[(cast.year >= 1950)&(cast.year < 1960) & (cast.type == 'actress')].type)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [77]:
cast[(cast.n == 1)&(cast.year <= 1980)].character.count()

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [78]:
(cast[cast.year <= 1980].character.count()) - (cast[(cast.n == 1)&(cast.year <= 1980)].character.count())

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [79]:
cast[cast.year <= 1980].n.isnull().sum()

448347