In [21]:
#Applying statitical tests
import pandas as pd
from scipy.stats import pearsonr, chi2_contingency, wilcoxon, friedmanchisquare, mannwhitneyu
from scipy.stats import ttest_1samp, ttest_rel, kruskal, ttest_ind

In [22]:
Data = pd.read_csv("general_data.csv")
Data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [23]:
Data = Data.dropna()

In [24]:
Data.shape

(4382, 24)

In [25]:
Data.duplicated().sum()

0

In [26]:
#Splitting dataframe into attrition yes and attrition no
Data = Data.groupby('Attrition')
Data1 = Data.get_group('Yes')
Data2 = Data.get_group('No')

In [27]:
Data1.shape

(705, 24)

In [28]:
Data2.shape

(3677, 24)

In [29]:
Data1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [30]:
Data2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

In [31]:
# Applying Manwhitneyu Test

stats, p=mannwhitneyu(Data1.Age, Data2.Age)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.BusinessTravel, Data2.BusinessTravel)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.Department, Data2.Department)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.DistanceFromHome, Data2.DistanceFromHome)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.Education, Data2.Education)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.EducationField, Data2.EducationField)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.Gender, Data2.Gender)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.NumCompaniesWorked, Data2.NumCompaniesWorked)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.PercentSalaryHike, Data2.PercentSalaryHike)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.StockOptionLevel, Data2.StockOptionLevel)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.TotalWorkingYears, Data2.TotalWorkingYears)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.TrainingTimesLastYear, Data2.TrainingTimesLastYear)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.YearsAtCompany, Data2.YearsAtCompany)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.YearsSinceLastPromotion, Data2.YearsSinceLastPromotion)
print('Critical value is {}, p-value is {}'.format(stats, p))

stats, p=mannwhitneyu(Data1.YearsWithCurrManager, Data2.YearsWithCurrManager)
print('Critical value is {}, p-value is {}'.format(stats, p))

Critical value is 949178.0, p-value is 7.98668614365882e-30
Critical value is 1249881.0, p-value is 0.029614877291203285
Critical value is 1230902.5, p-value is 0.0054197115582371854
Critical value is 1295261.0, p-value is 0.488538986087403
Critical value is 1258277.0, p-value is 0.09888570408770686
Critical value is 1190200.0, p-value is 0.0001380350032352316
Critical value is 1264340.5, p-value is 0.11168342489992195
Critical value is 1238814.5, p-value is 0.02793197853866981
Critical value is 1231873.5, p-value is 0.017810794960084964
Critical value is 1276201.5, p-value is 0.24144793587056157
Critical value is 895173.5, p-value is 2.741211827689903e-39
Critical value is 1225582.0, p-value is 0.008107344081224082
Critical value is 912579.0, p-value is 3.3433144809752036e-36
Critical value is 1196606.0, p-value is 0.00037904698157957496
Critical value is 945958.5, p-value is 5.420302388722274e-31

In [32]:
#Applying two sample independent t test

stats, p = ttest_ind(Data1.Age, Data2.Age)
print(stats, p)

stats, p = ttest_ind(Data1.DistanceFromHome, Data2.DistanceFromHome)
print(stats, p)

stats, p = ttest_ind(Data1.Education, Data2.Education)
print(stats, p)

stats, p = ttest_ind(Data1.EmployeeCount, Data2.EmployeeCount)
print(stats, p)

stats, p = ttest_ind(Data1.EmployeeID, Data2.EmployeeID)
print(stats, p)

stats, p = ttest_ind(Data1.NumCompaniesWorked, Data2.NumCompaniesWorked)
print(stats, p)

stats, p = ttest_ind(Data1.PercentSalaryHike, Data2.PercentSalaryHike)
print(stats, p)

stats, p = ttest_ind(Data1.StandardHours, Data2.StandardHours)
print(stats, p)

stats, p = ttest_ind(Data1.StockOptionLevel, Data2.StockOptionLevel)
print(stats, p)

stats, p = ttest_ind(Data1.TotalWorkingYears, Data2.TotalWorkingYears)
print(stats, p)

stats, p = ttest_ind(Data1.TrainingTimesLastYear, Data2.TrainingTimesLastYear)
print(stats, p)

stats, p = ttest_ind(Data1.YearsAtCompany, Data2.YearsAtCompany)
print(stats, p)

stats, p = ttest_ind(Data1.YearsSinceLastPromotion, Data2.YearsSinceLastPromotion)
print(stats, p)

stats, p = ttest_ind(Data1.YearsWithCurrManager, Data2.YearsWithCurrManager)
print(stats, p)

-10.617111568458819 5.126598219406314e-26
-0.6253536318706914 0.5317715668047676
-1.132287911067296 0.25757539308301036
nan nan
-0.305797970979733 0.7597730060959204
2.837197670884213 0.004572057121646456
2.1953267956195552 0.028192446935249534
nan nan
-0.5403260977526364 0.5889996358342873
-11.39422669317641 1.1645434967153693e-29
-3.152870411721613 0.00162766036355604
-8.881225486705604 9.476118084889976e-19
-2.080660880277173 0.03752293607413772
-10.362463400192302 7.105369646808081e-25

C:\Users\Komal\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
C:\Users\Komal\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
C:\Users\Komal\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

- **Applying Chi square test**

Attrition v/s BusinessTravel

H0 - There is no significant diffrence b/w Attriton and Business travel

H1 - There is a significant diffrence b/w Attrition and Business travel

In [33]:
df = pd.read_csv('general_data.csv')

In [34]:
from scipy.stats import chi2_contingency

In [35]:
#Gender and Department
chitable = pd.crosstab(df.Gender, df.Department)
chitable

Department  Human Resources  Research & Development  Sales
Gender
Female                   72                    1164    528
Male                    117                    1719    810

In [36]:
# Ho -> There is no dependency between Gender and Department

# Ha -> There is dependency between Gender and Department

stats, p, dof, expected = chi2_contingency(chitable)
print (stats," ", p)

if (p > 0.05):
    print ("We reject our Null hypothesis and proceed with our Alternate hypothesis")
else:
    print ("We accept our Null Hypothesis")

0.615723664957693   0.7350168664520025
We reject our Null hypothesis and proceed with our Alternate hypothesis

In [37]:
#BusinessTravel and Department
chitable = pd.crosstab(df.BusinessTravel, df.Department)
chitable

Department         Human Resources  Research & Development  Sales
BusinessTravel
Non-Travel                       9                     330    111
Travel_Frequently               24                     519    288
Travel_Rarely                  156                    2034    939

In [38]:
# Ho -> There is no dependency between BusinessTravel and Department

# Ha -> There is dependency between BusinessTravel and Department

stats, p, dof, expected = chi2_contingency(chitable)
print (stats," ", p)

if (p > 0.05):
    print ("We reject our Null hypothesis and proceed with our Alternate hypothesis")
else:
    print ("We accept our Null Hypothesis")

28.34995470839754   1.0592869100838686e-05
We accept our Null Hypothesis

In [39]:
#Job Level and Education
chitable = pd.crosstab(df.JobLevel, df.Education)
chitable

Education    1    2    3    4   5
JobLevel
1          231  336  573  438  51
2          165  288  672  423  54
3           75  111  270  174  24
4           21   69  111  108   9
5           18   42   90   51   6

In [41]:
# Ho -> There is no dependency between JobLevel and Education

# Ha -> There is dependency between JobLevel and Education

stats, p, dof, expected = chi2_contingency(chitable)
print (stats," ", p)

if (p > 0.05):
    print ("We reject our Null hypothesis and proceed with our Alternate hypothesis")
else:
    print ("We accept our Null Hypothesis")

46.04496616412888   9.581599790469542e-05
We accept our Null Hypothesis